@import url('https://fonts.googleapis.com/css?family=Fira+Mono&display=swap');

:root {
  --base0: #2b3235;
  --base1: #394246;
  --base2: #495659;
  --base3: #c7c5bb;
  --base4: #e1dfda;
  --base5: #fcfcfc;
  --red: #ff4b42;
  --orange: #ff831e;
  --yellow: #efbb00;
  --lime: #7ac600;
  --green: #00c609;
  --teal: #0bb792;
  --cyan: #00aeb7;
  --blue: #3d94ff;
  --indigo: #757cff;
  --purple: #ad6bff;
  --magenta: #f542ff;
  --pink: #ff32a3;
}


.base0 {color: var(--base0);}
.base1 {color: var(--base1);}
.base2 {color: var(--base2);}
.base3 {color: var(--base3);}
.base4 {color: var(--base4);}
.base5 {color: var(--base5);}
.red {color: var(--red);}
.orange {color: var(--orange);}
.yellow {color: var(--yellow);}
.lime {color: var(--lime);}
.green {color: var(--green);}
.teal {color: var(--teal);}
.cyan {color: var(--cyan);}
.blue {color: var(--blue);}
.indigo {color: var(--indigo);}
.purple {color: var(--purple);}
.magenta {color: var(--magenta);}
.pink {color: var(--pink);}

hr.base0 {border-color: var(--base0);}
hr.base1 {border-color: var(--base1);}
hr.base2 {border-color: var(--base2);}
hr.base3 {border-color: var(--base3);}
hr.base4 {border-color: var(--base4);}
hr.base5 {border-color: var(--base5);}
hr.red {border-color: var(--red);}
hr.orange {border-color: var(--orange);}
hr.yellow {border-color: var(--yellow);}
hr.lime {border-color: var(--lime);}
hr.green {border-color: var(--green);}
hr.teal {border-color: var(--teal);}
hr.cyan {border-color: var(--cyan);}
hr.blue {border-color: var(--blue);}
hr.indigo {border-color: var(--indigo);}
hr.purple {border-color: var(--purple);}
hr.magenta {border-color: var(--magenta);}
hr.pink {border-color: var(--pink);}

html {
  font-family: 'Fira Mono', monospace;
  font-size: 11pt;
  color: var(--base5);
  background-color: var(--base0);
}

#container {
  width: 42em;
  padding: 1em;
  margin: 0 auto;
  text-transform: lowercase;
}

@media (max-width: 44em) {
  #container {
    width: 32em;
  }
}

@media (max-width: 34em) {
  #container {
    width: 22em;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: var(--base5);
}

ul {
  list-style: none;
  margin: 1em 0;
  padding-inline-start: 1em;
}

ul.mold li::before {
  content: "*";
  color: var(--yellow);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

ul.mold li {
  color: var(--base5);
}

header {
  font-size: 2em;
  border-width: 0 0 4px 0;
  border-style: solid;
}

section {
  margin: 2em 0;
}

section > header {
  font-size: 1.5em;
  border-bottom: 3px;
  border-style: solid;
}

section > section > header {
  font-size: 1em;
  border-bottom: 2px;
  border-style: solid;
}

strong {color: var(--base4)}

#getmold {
  text-align: center;
  margin: 1.5em auto;
}

#getmold code {
  margin: 0 auto;
  padding: 0.5em;
  border: 1px solid var(--base0);
  background-color: var(--base1);
}

.mask {color: var(--purple);}
.milk {color: var(--blue);}
.mold {color: var(--yellow);}
.vx {color: var(--teal);}
.xcl {color: var(--pink);}
.xtfc {color: var(--orange);}
